html, body {height:100%; background:#2F0300; color:#BBB; font-family:Arial,sans-serif;font-size:0.9em; margin:0}
h4, p {letter-spacing:0.7pt; line-height:15pt;}
a {color:white;}
h1, h2, h3 {margin:0; padding:0; color:white;  font-size:12pt; text-align:center; text-transform:uppercase}
body, article > div {margin:0 auto;}
section {display:table;width:100%;background:url('/files/bg.png') fixed no-repeat center top #3C180C; background-size:contain; min-height:50px; margin:0 auto; position:relative;}
section.fullheight {height:100%;}
article {padding:50px 20px;display:table-cell;background:rgba(0,0,0,0.8); }
article > div {width:90%; max-width:800px}
h1 { font-size:20pt;margin-bottom:20px;letter-spacing:0em; text-shadow:3px 3px #333}
#stickyribbon {position:fixed; top:0px; padding:0 20px; background:rgba(101,14,15,0.9);  z-index:99; display:none}
#stickyribbon ul li {padding:10px; }
#title nav {text-align:center; margin-top:50px; font-size:8pt; padding-top:5%; max-width:500px; margin: 0 auto;}
ul {margin:0; padding:0;}
#stickyribbon > * , nav ul li {display:inline-block; }
#title nav ul li {border:2px solid white; font-size:larger; margin:10px; text-transform:uppercase; background:rgba(0,0,0,0.5);}
#title nav a { text-align:center; text-decoration:none; display:block; padding:5px 10px; }
#title nav li:hover {color:white; background:rgba(50,50,50,0.9);}
#title {height:100%;vertical-align:middle;background:rgba(0,0,0,0.2);}
#aboutus {background:rgba(0,0,0,0.7);}
#aboutus li {margin:10px; font-size:1.1em;}
#aboutus ul {margin-bottom:20px;}
#gallery {background:rgba(0,0,0,0.9);}
#faq {background:rgba(0, 102, 151, 0.7);}
#contact {background:rgba(73, 102, 151, 0.7);}
#ourgoals {background:rgba(0, 78, 78, 0.7);}
#contact table {width:100%;}
#contact th {text-align:left;}
#gallery h2 {margin:10px;}
#gallery li {list-style:none;margin-bottom:5px; }
#gallery img {width:100%;}
#ourgoals td {width:25%;}
#ourgoals ul {margin-left:10px;}
#divinemercyworldwide div div {clear:both; display:table;margin-top:10px;}

.col-md-12 {width:100%; text-align:center;}
.col-md-12 p {margin:10px;}
.col-md-3 {width:185px; height:230px; border:1px solid gray;float:left; padding:5px;}

#divinemercyworldwide img, #aboutus img {float:left; margin:0 10px; min-width:200px; width:25%;}

@media screen and (max-width: 650px) {
	#stickyribbon ul li {padding:0 5px 0 0;}
	img {float:none !important;}
	article {padding-top:70px;}
	#contact {font-size:12px;}
}
